 body{
    background: url('images/7624.jpg') no-repeat center center fixed;
    }
#company{
    margin: 30px;
    background-color: #00000017;
    padding: 20px;
    margin: 8% 5% 5% 5%;
    position: relative;
  
}

#company img{
    width: 50px;
    height: 50px;

}
#company h1{
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
    color: #005b4d;
}
#company h2{
    font-size: 1rem;
    color: #005b4d;
}
#company p{
    font-size: 1rem; 
    text-align: justify;
}

.sub-section{
    display: inline-flex;
}
.sub-section h2{
    padding: 15px 10px 10px 10px
}
#org-struc{
    background-color: #00000017;
    padding: 20px;
    margin: 5%;
    text-align: center;
}
#org-struc h2{
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
    color: #005b4d;
}
.org-structure img{
    height: auto;
    width: 100%;

}